<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="studentbean" class="Student">
    <property name="name" value="Vimal Jaiswal"></property>
    </bean>

    <bean id="addressbean" class="Address">
        <property name="City" value="pittsburgh"></property>
        <property name="state" value="Pennsylvania"></property>
        <property name="country" value="US"></property>
    </bean>

    <bean id="employeebean" class="Employee">
        <constructor-arg value="10" type="int"></constructor-arg>
        <constructor-arg value="Sam JohnSon"></constructor-arg>
        <constructor-arg ref="addressbean"></constructor-arg>
    </bean>

    <bean id="ans1" class="Answers">
        <constructor-arg value="1"></constructor-arg>
        <constructor-arg value="3-5 hours"></constructor-arg>
        <constructor-arg value="Ravi"></constructor-arg>
    </bean>

    <bean id="ans2" class="Answers">
        <constructor-arg value="2"></constructor-arg>
        <constructor-arg value="5-8 hours"></constructor-arg>
        <constructor-arg value="John"></constructor-arg>
    </bean>

    <bean id="questionbean" class="Question">
        <constructor-arg value="1" type="int"></constructor-arg>
        <constructor-arg value="How many hours do you sleep per day?"></constructor-arg>
        <constructor-arg>
            <list>
               <ref bean="ans1"></ref>
                <ref bean="ans2"></ref>
            </list>
        </constructor-arg>
        <constructor-arg>
            <map>
                <entry key="1" value="heavy"></entry>
                <entry key="2" value="middle"></entry>
                <entry key="3" value="light"></entry>
            </map>
        </constructor-arg>
    </bean>

    <bean id="pFactory" class="PrintableFactory"></bean>
    <bean id="print" class="PrintableFactory" factory-method="getPrintable" factory-bean="pFactory"></bean>
</beans>